.box{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
 height: auto;
 width: auto;
 justify-content: space-around;
    padding: 10px;
    gap: 10px;

}

.box div  {
font-size: 30px;   
padding: 20px; 
 text-align: center;
 background-color: aqua;


}

.b1{
}

