

.box1{
    padding: 10px;
    background-color:lime;
    height: 128px;
    border: 3px solid red;
}

.box2{
    margin-top: 5px;
    padding: 10px;
    background-color: yellow;
    height: 700px;
    border: 3px solid red;
    
}


.box3{

    background-color: lime;
    height: 128px;
    margin-top: 20px;
}

#box11{
    color: red;
    padding-top: 10px;
    margin-left: 450px;
    margin-top: 50px;
    text-align: center;
    width: 600px;
    font-size: 30px;
    background-color: white;


}

#box44{
    text-align: center;
    font-size: 40px;
    background-color: #ff0000;

}

#box1{
    background-color: rgb(69, 2, 2);
    height: 50px;
    width: 1450px;
    font-size: 40px;
    margin-right: 100px;
}

#box2{
    background-color: rgb(165, 5, 136);
    height: 50px;
    width: 300px;
    font-size: 40px;
}

#box3{
    background-color: blue;
    height: 50px;
    width: 300px;
    font-size: 40px;

}

#box4{
    background-color: brown;

    height: 50px;
    width: 300px;
    font-size: 40px;
    margin-left: 500px;
}

#box5{
    padding-left: 100px;
    background-color: lime;

    height: 50px;
    width: 300px;
    font-size: 40px;
    margin-left: 1000px;

}

