
#S1{
    background-color: blue;
    height: 500px;
    padding: 10px;
  }
  #S2{
      background-color: yellow ;
      height: 500px;
  }
  #S3{
      background-color: red;
      height: 500px;
  }
  #S4{display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 200px;
      width: 200px;
      margin-left: 600px;
      margin-top: 100px;
      color: white;
      background-color: #000000;
      font-size: 50px;
  }