
body{
    justify-content: center;
    align-items: center;
 background-color: rgb(255, 0, 234);
}

h1{
   background-color: blue;
   color: darkseagreen;
   text-align: center;
   font-size: 38px;
   font-family: Arial, Helvetica, sans-serif;
   height: 80px;
   width: 600px;
   margin: 80px ;
   padding-top: 40px;
   border-radius: 20px;
}

h2{
    background-color: rgb(255, 30, 0);
    text-align: center;
    height: 80px;
    width: 300px;
    margin: 20px;
    font-size: 28px;
}

p{
    background-color: blueviolet;
    padding-left: 50px;
}

#S1{
    background-color: rgb(255, 230, 0);
    text-align: left;
}

.S2{
    background-color: cyan;
}


p{
    background-color: rgb(0, 255, 0);


}