p{
    background-color: aqua;
}

h1{
    background-color: blue;
}


h2{
    background-color: blueviolet;
}

#element{
    background-color: brown;
}

.div1{
    background-color: chocolate;
    font-size: 60px;
}