h1{
  background-color: blue;
}

.S1{
 background-color: yellow;
}

.conteudo{
    background-color: blueviolet;
    height: 200px;
}

.conteudo p{
 background-color: brown;
}


.conteudo #txt{
  font-size: 50px;
}

p{
 background-color: aqua;
}