body{
    background-color: black;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #4180ab;
}

header > img{
    height: 200px;
    width: 300px;
}
header > nav{   

    display: flex;
     width: 300px;
     font-size: 20px;
     justify-content: space-between;   

}

nav a{ color: black;
    font-size: 30px;
    text-decoration: none;
    opacity: 0.6;   
    transition: all 0.4s;
}

nav a:hover{
    opacity: 1;
    transform: translateY(-10px);
    cursor: pointer;

}

.main{
    display: flex;
    background-color: #ffffff;
    height: 500px;

}

.main > aside{
    flex: 1;
     background-color: brown;
    }

.main > section{

flex: 4;  
    background-color:#8ab3cf;


}

h3{
    text-align: center;
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;

}


form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    gap: 3px;
 }
 
 form input, form textarea{
     width: 100%;
     background-color: rgb(71, 71, 71);
     border: none;
     outline: 0;
     padding: 20px 15px;
     border-radius: 10px;
     color: white;
     font-size: 18px;
 }
 
 form textarea{
     resize: none;
     max-height: 200px;
 }
 
 form .enviar{
 margin-top: 20px;
 text-align: center;
 }
 
 form .enviar input{
     width: 200px;
     background-color: aqua;
     color: black;
     transition: .2s;
 
 }
 
 form .enviar input:hover{
     transform: scale(1.05);
     cursor: pointer;
     box-shadow: 0 0 40px 5px rgb(0, 94, 94);
 }

footer{
display: flex;
align-items: center;
justify-content: center;
background-color: #4180ab;
height: 50px;
}